* {
  margin: 0;
  padding: 0;
  font-family: 'poppins', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: rgb(136, 133, 133);
  text-transform: capitalize;
}

.card {
  width: 90%;
  max-width: 470px;
  background: linear-gradient(135deg, #00feba, #5b548a);
  color: #fff;
  margin: 100px auto 0;
  border-radius: 25px;
  padding: 40px 25px;
  text-align: center;
}

.search {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 20px;
}

.search input {
  border: 0;
  outline: 0;
  background: #ebfffc;
  color: #555;
  height: 60px;
  padding: 10px 12px;
  flex: 1;
  border-radius: 30px;
  margin-right: 16px;
  font-size: 18px;
}

.search button {
  border: 0;
  outline: 0;
  background: #ebfffc;
  border-radius: 50%;
  height: 60px;
  width: 60px;
  cursor: pointer;
}

.search button i {
  width: 16px;
  font-size: large;
}

.weather-icon {
  width: 100%;
  max-width: 160px;
  margin-top: 30px;
}

.weather h1 {
  font-size: 6vw;
  font-weight: 500;
}

.weather h2 {
  font-size: 4vw;
  font-weight: 400;
  margin-top: -10px;
}

.details {
  margin-top: 5%;
  padding: 0 10%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.col {
  display: flex;
  align-items: center;
  text-align: left;
  margin-bottom: 20px;
  width: 45%;
}

.col img {
  width: 30%;
  margin-right: 20px;
}

.humidity,
.wind {
  font-size: 3vw;
  margin-top: -6px;
}

.weather {
  display: none;
}

.error {
  text-align: center;
  margin-top: 10px;
  font-size: 3vw;
  display: none;
}

/* Media Query for Mobile Devices */
@media screen and (max-width: 600px) {
  .card {
      width: 90%;
      padding: 30px 15px; /* Adjusted padding */
  }

  .search input {
      font-size: 16px; /* Adjusted font size */
  }

  .weather h1 {
      font-size: 8vw; /* Adjusted font size */
  }

  .weather h2 {
      font-size: 6vw; /* Adjusted font size */
  }

  .humidity,
  .wind {
      font-size: 4vw; /* Adjusted font size */
  }
}
